body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    margin: 0;
}

h1 {
    color: #333;
}

.cell {
    background-color: #eceff1;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: #b0bec5;
}

#board {
    max-width: 320px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.alert-info {
    font-size: 1.5em;
}
